<!DOCTYPE html>
<html>
<head>
    <style>
        input {display:block}
    </style>
</head>
<body>
    <h1>Sign up</h1>
    <form>
        <label for="username">
            Username:
            <input type="text" id="username" name="username" />
        </label>
        <label for="password">
            Password:
            <input type="text" id="password-init" name="password-init" />
        </label>
        <label for="password-verify">
            Verify Password:
            <input type="text" id="password-verify" name="password-verify" />
        </label>
        <label for="email">
            Email (optional):
            <input type="text" id="email" name="email" />
        </label>
        <input type="submit" />
    </form>
</body>
</html>